{% extends "master.html" %} {% block title %}Login{% endblock title %}
 {% block content %}

<div class="container align-items-center shadow-md px-5 py-5 mx-auto my-5">
  <div class="row">
    <div class="col-6 w3-animate-left">
      <h1>Student Login Page</h1>
      Please Enter Your Details
    </div>
    <div
      class="col-6 align-items-center shadow-md px-5 py-5 mx-auto w3-animate-right"
      style="border: black 2px solid"
    >
      <form action="/do_login" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter Your Registered Email ID"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter Your Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
