{% extends "master.html" %}
{% load static %}
{% block title %}Announcements{% endblock title %}
{% block head %}

<style>
  #announce{
    border : black 2px solid;
  }

  .alert-danger {
    background-color: rgb(223, 46, 46);
  }
</style>
{% endblock head %}

{% block content %}
<h1 class="mx-5">Announcements</h1>

<div style="border: black 2px solid; margin-top:50px; padding-top:5px;" class="container mx-auto px-auto shadow-lg container-fluid">
  <div class="row align-items-center">
    {% for announcement in announcements %}
    <div class="col-xl-12">
      <div class="row align-items-center w3-animate-right">
        {% if announcement.new %}
        <div class="alert alert-dark col px-2 mx-5"><span class="badge bg-danger w3-animate-zoom">new!</span>{{announcement.body}}</div>
        {% else %}
        <div class="alert alert-dark col px-2 mx-5">{{announcement.body}}</div>
        {% endif %} 
        
      </div>
      
  </div>
  {% endfor %}
  
</div>
</div>
{% endblock %}