{% extends "master.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block home %}active{% endblock  %}
{% block head %}
<style>
  #home{
    border: rgb(2, 2, 2) 2px solid;
      }
</style>
{% endblock head %}

{% block content %}

    <div class="container w3-animate-left">
      <h1 style="padding-top:100px" class=" mx-5 mt-5 mb-5">Welcome</h1>
    
    <p class="mx-5"> Welcome to our College Management System!</p>

      <p class="mx-5">At our college, we are dedicated to achieving excellence in all fields of technology. Our state-of-the-art management system is designed to streamline and enhance your college experience.</p>
      
      <p class="mx-5">With our user-friendly interface, you can easily access important information, such as course schedules and attendance records. </p>
    </div>

    
{% endblock %}
